<div class="card" style="padding:0;"><img src="img/slideshow.jpg" style="width: 100%"></div>

<div class="card" >

    <h1>من نكون ؟</h1>

    <b>برمجة, تصميم و الدعم التقني</b><br/>

</div>

<div class="card" style="background-color: #639b24; color: #fff;" >

<h1>    ساعدنا في بذل المزيد من الجهد</h1>

    نحن نعتمد على دعم من أشخاص مثلك لتوفير التعليم المجاني لأي شخص ،في أي مكان . إذا كنت قد حصلت على أي شيء من موقعنا، يرجى اتخاذ ثانية الى ارض الملعب و مساعدتنا على العودة إلى التدريس !

</div>

<div class="card" >

    <h1>شكر لكل من ساعد علي إنجاح هذ الموقع</h1>

    <b>برمجة, تصميم و الدعم التقني</b><br/>
    <ul>
        <li>حمزة بن دالي براهم</li>
    </ul>

    <b>تتبع الأخطاء التشغيل</b><br/>
    <ul>
        <li>علاء الدين بن دالي براهم</li>
    </ul>

    <b>تزويد الموقع بالمواضيع</b><br/>
    <ul>
        <li></li>
    </ul>

    <b>تصحيح</b><br/>
    <ul>
        <li></li>
    </ul>
</div>