<div class="card" style="padding:0; background-color: #f7d500;"><img src="img/slideshow.jpg" style="width: 100%"></div>

<div class="card" >

    <h1>من نكون ؟</h1>

    <b>برمجة, تصميم و الدعم التقني</b><br/>

</div>

<div class="card" style="background-color: #639b24; color: #fff;" >

<h1>    ساعدنا في بذل المزيد من الجهد</h1>

    نحن نعتمد على دعم من أشخاص مثلك لتوفير التعليم المجاني لأي شخص ،في أي مكان . إذا كنت قد حصلت على أي شيء من موقعنا، يرجى اتخاذ ثانية الى ارض الملعب و مساعدتنا على العودة إلى التدريس !

</div>

<div class="card" >

    <h1>شكر لكل من ساعد علي إنجاح هذ الموقع</h1>



من أسمى الصفات التي تمثل المعنى الحقيقي للصداقة، هي أن تبقى ممتن وشاكراً لكل صديق قام بمساندتك والوقوف بجانبك والتحمل من أجلك ودفعك وتحفيزك، لهذا نورد لكم هنا أجمل عبارات الشكر والتقدير للأصدقاء.
عبارات شكر وتقدير الأصدقاء
عجزت الكلمات تعبر عن مدى الجميل والعرفان اللي بدر منكم تجاهي ما ينساه إنسان.
للنجاح أناس يقدّرون معناه، وللإبداع أناس يحصدونه، لذا نقدّر جهودك المضنيه، فأنت أهل للشكر والتقدير، فوجب علينا تقديرك.. فلك منا كلّ الثناء والتقدير.
بينما نعبّر عن عرفاننا، علينا ألا ننسى أن أقصى درجات التقدير لا تتمثل بنطق الكلام، وإنّما بتطبيقه.
إلى صاحب التميّز والأفكار النيّرة، أزكى التحيّات وأجملها وأنداها وأطيبها، أرسلها لك بكلّ ودّ وحب وإخلاص، تعجز الحروف أن تكتب ما يحمل قلبي من تقدير واحترام، وأن تصف ما إختلج بملئ فؤادي من ثناء وإعجاب، فما أجمل أن يكون الإنسان شمعة تنير دروب الحائرين.
تتسابق الكلمات وتتزاحم العبارات لتنظم عقد الشكر الذي لا يستحقه إلا أنت، إليك يا من كان له قدم السبق في ركب العلم والتعليم، إليك يا من بذلت ولم تنتظر العطاء، إليك أهدي عبارات الشكر والتقدير.
إن عمل المعروف يدوم والجميل دايم محفوظ، لا تفكر في يوم أنسى أنك وقفت جنبي على طول.
صديقي الغالي.. أعطر التحيه، وأطيب المنى، وكل الإحترام لك أنت، أنت الغالي، جعلتني أرى الدنيا بألوان الخير والفرح، ومنحتني الثقة والإرادة، تعلّمت منك الكثير، وأكثر ما يخجلني منك أنني حينما أخطئ بحقك؛ تأتي وتعتذر لي وأنا من أخطأ، فواخجلي منك، شكراً جزيلا لك وسامحني على تقصيري بحقك، فأنت أجمل هدية من رب البرية.
تلوح في سمائنا دوماً نجوم براقه، لا يخفت بريقها عنا لحظه واحده، نترقّب إضائتها بقلوب ولهانه، ونسعد بلمعانها في سمائنا كل ساعة، فاستحقت وبكل فخر أن يرفع إسمها في عليانا.
مهما نطقت الألسن بأفضالها ومهما خطّت الأيدي بوصفها، ومهما جسّدت الروح معانيها، تظلّ مقصّرة أمام روعتها وعلوّ همتها، أسعدك المولى وجعل ما تقدّمه في ميزان حسناتك.
ما أجمل العيش بين أناس إحتضنونا بإخلاص، لك يا صديقي الغالي كل التقدير والإحترام ونتمنى لك دوام الصحة والعافية.
أتمنى من الله عز وجل أن يعطيكم الصحة والعافية، شكراً لكم على ما قدمتموه لي من أحاسيس نابعة من قلوبكم، ودام الله عزّكم ودام عطائكم.
أصدقائي الكرام.. كل التبجيل والتوقير لكم، يا من صنعتم لي المجد، بفضلكم فهمت معنى الحياة، إستقيت منكم العلوم والمعارف والتجارب لأقف في هذه الدنيا كالأسد في عرينه؛ عزيزاً كريماً، لا ينخدع بالمظاهر والقشور، بل يبحث دوماً عن الجوهر، بفضلكم وجدّت لي مكانة في هذه الحياة، فأنتم علمتموني كل شيء، فلن أكون لكم، إلّا عبداً وطوعاً.
عمل المعروف يدوم والجميل دايم محفوظ، لا تفكر في يوم أنسى أنك وقفت جنبي على طول.
كلمة شكر وعرفان إلى صاحب القلب الطيب إلى صاحب النفس الأبيه إلى صاحب الإبتسامه الفريده إلى من حارب وساهم الكثير من أجلي.
لكل مبدع إنجاز، ولكل شكر قصيدة، ولكل مقام مقال، ولكل نجاح شكر وتقدير، فجزيل الشكر نهديك، ورب العرش يحميك.
أنا عمري ما شكرت إنسان، لأن المعروف صعب تلاقيه بهالزمان إلا في قلب صافي ولهان يحب يساعد كل إنسان.
من أي أبواب الثناء سندخل وبأي أبيات القصيد نعبّر وفي كل لمسة من جودكم وأكفكم للمكرمات أسطر، كنت كسحابة معطاءه سقت الأرض فاخضرت، كنت ولازلت كالنخلة الشامخة تعطي بلا حدود، فجزاك عنا أفضل ما جزى العاملين المخلصين وبارك الله لك وأسعدك أينما حطت بك الرحال.
كلمة شكراً ما تكفي والمعنى أكبر ما توفيه، لو بيدي العمر أعطيه أعبر له عن مدى شكري.
إن قلت شكراً فشكري لن يوفيكم، حقاً سعيتم فكان السعي مشكوراً، إن جف حبري عن التعبير يكتبكم قلب به صفاء الحب تعبيرا.
كلمة حب وتقدير وتحية وفاء وإخلاص، تحية ملئها كل معاني الأخوة والصداقة، تحية من القلب إلى القلب، شكراً من كل قلبي.
أصدقائي الرائعون.. رسالة شكر وامتنان أرسلها لكم لوقوفكم بجانبي دوماً، فلو غبتم عن ناظري يوماً فأنتم في القلب، أذكر أيام الشدائد حينما لم تفارقوني لحظة، بل كنتم خير عون، وسند، وناصح، ما أجمل تلك الأيام بكل ما فيها، فلقد كنتم كالسّكر الذي يذهب مرارة العيش، ويسلي النفس، ويشد من أزرها، سعادتي كبيرة بكم، ولن أتخلّى عنكم ما حييت.
يا طيور المحبة زوريه وعن شكري له خبريه وقوليله عنك ما نستغني، لو نلف العالم واللي فيه.
رسالة أبعثها مليئة بالحب والتقدير والإحترام، ولو أنني أوتيت كل بلاغة وأفنيت بحر النطق في النظم والنثر لما كنت بعد القول إلا مقصراً ومعترفاً بالعجز عن واجب الشكر.
مهما بحث في قاموس الكلمات ونثرت من عبارات الشكر فلن ولم أجد كلمات توفيك حقك وقدرك.
لكل مبدع إنجاز ولكل شكر قصيدة ولكل مقام مقال.. ولكل نجاح شكر وتقدير، فجزيل الشكر نهديك ورب العرش يحميك.
عندما أخطئ نبهني، عندما أسيء إليك أخبرني، عندما يكون في نفسك علي شيء صارحني، وحتى لا تتراكم أخطاؤنا وتكون عندما ننتبه لها بحجم جبال تهامة، لم لا نفتتها كلما إجتمعت بالصدق والصراحة، وأن لا نحمل الأمور أكثر مما تحتمل، عندما تراني مقصراً ناصحني فليس أكثر توثيقاً لأخوتنا من المناصحة، لنجعل من هذه الصحبة درباً نسير فيه إلى خيري الدنيا والآخرة، لنجعل أمام أعيننا مكاناً نسعى للتربع بفخر فيه يجاورنا الأنبياء والصديقون والشهداء تحت ظل عرش الرحمن يوم لا ظل إلّا ظله.
عبر نفحات النسيم وأريج الآزاهير وخيوط الأصيل، أرسل شكراً من الأعماق لك.
لا شيء في الحياة يسعد الإنسان ويسرّه أكثر من إكتساب صديق صالح يشاركه في مشاعره، ويغمره في عواطفه، يأنس إليه في الوحشة ويستعين به في الشدائد.
إن الكلمات لتعجز عن شكرك يا صديقي.. ولو قدمت لك كل الورود التي في العالم لن أستطيع شكرك على مجهودك وتعبتك معي وجعلي من أنجح الناس وفخر بين الجميع.. أتمنى أن تبقى شمعة تنير درب كل من يعرفك.
أتمنى من الله عز وجل أن يعطيكم الصحة والعافية، شكرا لكم على ما قدمتموه لي من أحاسيس نابعة من قلوبكم ودام الله عزكم ودام عطائكم.
ضحّى من أجلي بالكثير وعانى من أجلي الكثير، علّمني معنى الحب علّمني معني العطف، أجده دائماً وهو يوجهني في حياتي، أصبحت قوياً به، أصبحت إنساناً بسببه، ولا أستطيع أن أوفي ولو بالبسيط من تضحياته، لأجل ذلك أهديه كل الحب الذي في الأرض، وكل نسمة هواءً في السماء أهديها له، ومن كل قلبي أهديه كلمة شكر وعرفان.
شكراً لك من أعماق قلبي على عطائك الدائم، كلمات الثناء لا توفيك حقك، شكراً لك على عطائك.
عبارات الشكر تخجل منك، لأنك أكبر منها، فأنت لك الفضل في تحويل الفشل إلى نجاح، ورفع العزيمة والمعنوية لدي، فأنت أهل التميز والتقدم.
لك مني كل التقدير والشكر والعرفان، بعدد قطرات المطر وعدد من حج وإعتمر.
إن صديقك هو كفاية حاجتك وهو حقلك الذي تزرعه بالمحبة وتحصده بالشكر، وهو مائدتك وموقدك لأنك تأتي إليها جائعاً وتسعى وراءه مستدفئاً، فشكراً لك يا صديقي.
قد تنسى من شاركك الضحك، لكن لا تنسى من شاركك البكاء.
أمي دائماً تقول لي أن الثراء لا يقاس بالمال وإنّما بالأصدقاء، وأكيد ستسعد بلقائك وسترى كيف أصبحت ثرياً بمصادقتك، فشكراً لأنك صديقي.



    <b>برمجة, تصميم و الدعم التقني</b><br/>
    <ul>
        <li>حمزة بن دالي براهم</li>
    </ul>

    <b>تتبع الأخطاء التشغيل</b><br/>
    <ul>
        <li>علاء الدين بن دالي براهم</li>
    </ul>

    <b>تزويد الموقع بالمواضيع</b><br/>
    <ul>
        <li></li>
    </ul>

    <b>تصحيح</b><br/>
    <ul>
        <li></li>
    </ul>
</div>