<div class="card" style="padding:0; background-color: #01afba;"><img src="img/email2.jpg" style="width: 100%"></div>

<div class="card" >
    <form method="post" action="controller/guestbook.php" accept-charset="UTF-8">
        <br><br>
        <p>
            الإسم <span class="red">*</span>
            <input type="text" name="nom" style="width: 100%" value="" required>
        </p>
        <p>
            البريد الإلكتروني <span class="red">*</span>
            <input type="email" name="mail" style="width: 100%" value="" required>
        </p>
        <p>
            الإنطبعات <span class="red">*</span>
            <textarea name="note" style="width: 100%; height: 200px; overflow: auto" required></textarea>
        </p>

        <!-- Captcha -->
		<p>
			ما هو هذا الرقم يا ترى ؟ <span class="red">*</span><br>
		    <input type="text" name="cApTcHa" style="width:170px; background: url('img/captcha.php') no-repeat; background-position: 0 5px; " required />
            <br/>
		</p>

        <p>
            <input type="submit" value="إرسال القسيمة" class="mdl-button">
        </p>

        يجب ملء جميع الخانة التي تحتوي علي [ <span class="red">*</span> ]

    </form>
</div>
