<div class="card" style="padding:0;"><img src="img/profile.png" style="width: 100%"></div>

<div class="card"  ng-controller="profileController">
    <form method="post" accept-charset="UTF-8" autocomplete="off">

        <div id="frm" >

            <p>
                الإسم و اللقب
                <input type="text" style="width: 100%" maxlength="200" minlength="3" name="name" value="{{profile.name}}" required>
            </p>

            <p>
                البريد الللإلكتروني
                <input type="email" style="width: 100%" maxlength="100" name="email" value="{{profile.email}}" required>
            </p>

            <p>
                الكلمة المرور
                <input type="password" style="width: 100%" maxlength="20" minlength="5" name="passwd" required>
            </p>

            <p>
                تحقق من كلمة المرور
                <input type="password" style="width: 100%" maxlength="20" minlength="5" name="passwd2" required>
            </p>

            <p>
                المستوي التعليم
                <select style="width: 100%" name="level_formation" class="turnintodropdown" value="{{profile.level_formation}}"  required>
                    <option>&nbsp;</option>
                    <option value="00">التكوين ما قبل التدريس</option>

                    <option value="10">الإبتدائي</option>
                    <option value="11">الإبتدائي السنة 1</option>
                    <option value="12">الإبتدائي السنة 2</option>
                    <option value="13">الإبتدائي السنة 3</option>
                    <option value="14">الإبتدائي السنة 4</option>
                    <option value="15">الإبتدائي السنة 5</option>

                    <option value="20">التعليم المتوسط</option>
                    <option value="21">التعليم المتوسط 1</option>
                    <option value="22">التعليم المتوسط 2</option>
                    <option value="23">التعليم المتوسط 3</option>
                    <option value="24">التعليم المتوسط 4</option>

                    <option value="40">التعليم الثنوي</option>
                    <option value="41">التعليم الثنوي 1</option>
                    <option value="42">التعليم الثنوي 2</option>
                    <option value="43">التعليم الثنوي 3</option>

                    <option value="50">التعليم الجامعي</option>

                    <option value="60">التكوين المهني</option>

                </select>
            </p>


            <p>
                رقم الهاتف
                <input type="tel" style="width: 100%" maxlength="20" name="mobile" value="{{profile.mobile}}">
            </p>

            <p>
                العنوان
                <input type="text" style="width: 100%" maxlength="200" name="addr0" value="{{profile.addr0}}">
            </p>

            <p>
                البلادية / الولاية
                <input type="text" style="width: 100%" maxlength="200" name="addr1" value="{{profile.addr1}}">
            </p>

            <p>
                البلد
                <input type="text" style="width: 100%" maxlength="200" name="addr2" value="{{profile.addr2}}">
            </p>

            <p>
                رقم البريد
                <input type="number" style="width: 100%" maxlength="5" name="zipcode" value="{{profile.zipcode}}">
            </p>

            <p>
                تاريخ الميلاد
                <input type="datetime" style="width: 100%" maxlength="5" name="date_n" value="{{profile.date_n}}">
            </p>

            <p>
                <input type="submit" value="حفض" name="sendButton" disabled>
                <input type="reset" value="مسح الخنات" class="mdl-button">
            </p>
        </div>
    </form>


</div>